<div class="container p-5" style='width:600px'>
   <div class="form-container">
      <form name="form_register" id="form_register" action="" method="POST">
         <div class="card">
            <div class="card-body">
               <div class="title-image">
                  <h1>ĐĂNG KÝ</h1>
               </div>
               <div class="mb-3">
                  <label for="username" class="form-label"><i class="fa-solid fa-user"></i> Tên người dùng</label>
                  <input type="text" class="form-control" id="username" name="username" placeholder="Tên người dùng" required>
               </div>
               <div class="mb-3">
                  <label for="email" class="form-label"><i class="fa-solid fa-envelope"></i> Email</label>
                  <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
               </div>
               <div class="mb-3">
                  <label for="password" class="form-label"><i class="fa-solid fa-key"></i> Mật khẩu</label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="Mật khẩu" required>
               </div>
               <div class="mb-3">
                  <label for="repassword" class="form-label"><i class="fa-solid fa-key"></i> Nhập Lại Mật khẩu</label>
                  <input type="password" class="form-control" id="repassword" name="repassword" placeholder="Nhập lại mật khẩu" required>
               </div>
               <div class="mb-3">
                  <label for="fullname" class="form-label"><i class="fa-solid fa-user"></i> Họ và Tên</label>
                  <input type="text" class="form-control" id="fullname" name="fullName" placeholder="Họ và Tên" required>
               </div>
               <div class="mb-3">
                  <label for="address" class="form-label"><i class="fa-solid fa-map-marker"></i> Địa chỉ</label>
                  <input type="text" class="form-control" id="address" name="address" placeholder="Địa chỉ" required>
               </div>
               <div class="mb-3">
                  <label for="phone" class="form-label"><i class="fa-solid fa-phone"></i> Số Điện Thoại</label>
                  <input type="text" class="form-control" id="phone" name="phone" placeholder="Số Điện Thoại" required>
               </div>
               Đã có tài khoản? <a href="index.php?page=login"> Đăng nhập</a>
               <div class="mt-3 text-center">
                  <button type="submit" class="btn btn-success">Đăng ký</button>
               </div>
            </div>
         </div>
      </form>
   </div>
</div>
