<div class="container my-5">
  <div class="row">
    <div class="col-lg-6">
      <h2>Về Chúng Tôi</h2>
      <p>chuyên cung cấp hạt giống chất lượng cao với chủng loại phong phú lên tới hơn 500 giống, trong đó gồm
        các hạt giống hoa cảnh, hạt rau củ quả,… từ các nước như Nhật Bản, Hàn quốc, Thái Lan, Mỹ, Hà Lan,
        Ý, Đài Loan,.. Công ty chúng tôi cũng đại lý cho các công ty hạt giống uy tín tại Việt Nam về các
        loại hạt giống phục vụ chủ yếu cho bà con nông dân.</p>
      <p>Nhằm quảng bá rộng rãi đến mọi đối tượng khách hàng nên chúng tôi đã lựa chọn hình thức kinh doanh
        cửa tiệm và chú trọng kết hợp kinh doanh trên mạng, tạo sự tiện lợi tối đa cho khách hàng trên toàn
        quốc. </p>
      <p><strong>Mã số thuế:</strong> 0101628217</p>
      <p><strong>Địa chỉ:</strong> Ninh Kiều - Cần Thơ - Việt Nam</p>
      <p><strong>Số điện thoại:</strong>0886553645</p>
      <p><strong>Hotline:</strong> 02438313999/0972747899</p>
      <p><strong>Số máy bàn:</strong> 02437956090</p>
    </div>
    <div class="col-lg-6">
      <img src="img/hatgiong1.jpg" alt="Ảnh minh họa" class="img-fluid">
    </div>
  </div>
</div>